
      body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 0;
        padding: 0;
        background-color: #ff2d2d; /* Fundo cinza claro */
      }
      header {
        background: #333;
        color: #fff;
        padding: 10px 0;
        text-align: center;
      }
      header h1 {
        margin: 0;
      }
      nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
      }
      nav ul li {
        margin: 0 15px;
      }
      nav ul li a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
      }
      nav ul li a:hover {
        text-decoration: underline;
      }
      .container {
        width: 80%;
        margin: auto;
        overflow: hidden;
      }
      .main-content {
        background: #fff;
        padding: 20px;
        margin-top: 20px;
        border-radius: 8px;
        border: 1px solid #f0d10b; /* Bordas amarelas */
      }
      h1,
      h2 {
        color: #f0a70b; /* Nomes em preto */
      }
      footer {
        background: #333;
        color: #fff;
        text-align: center;
        padding: 20px;
        position: relative;
        width: 100%;
        bottom: 0;
        border-top: 1px solid #f0d10b; /* Bordas amarelas no topo do rodapé */
      }
      footer p {
        margin: 10px 0;
      }
      footer a {
        color: #f0d10b; /* Links em amarelo */
        text-decoration: none;
      }
      footer a:hover {
        text-decoration: underline;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
      }
      table,
      th,
      td {
        border: 1px solid #f0d10b; /* Bordas amarelas */
      }
      th,
      td {
        padding: 10px;
        text-align: left;
      }
      th {
        background-color: #f4f4f4;
      }
      .imagem-redimensionada {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: auto;
        border: 1px solid #f0d10b; /* Bordas amarelas na imagem */
        border-radius: 8px; /* Bordas arredondadas na imagem */
      }
      .section {
        margin: 20px 0;
        padding: 20px;
        background: #fff;
        border: 1px solid #f0d10b; /* Bordas amarelas */
        border-radius: 8px;
      }
